body {
    padding: 0;
    margin: 0;
    font-family: Nova Square, cursive;
    background-color: rgb(39, 19, 43);
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(../images/planet.jpeg);
	width: 100%;
}

#heading {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 4rem;
}

#p {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 2rem;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color:white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 7px rgb(178, 202, 241);
    ;
}